[Desktop Entry]
Name=XBMC Media Center
Comment=Manage and view your media
Exec=xbmc -fs
Icon=xbmc
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
