[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/incron"]
	path = modules/incron
	url = https://github.com/meltwater/puppet-incron.git
