[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/incron"]
	path = modules/incron
	url = https://github.com/meltwater/puppet-incron.git
[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/garethr/garethr-docker.git
[submodule "modules/btsync"]
	path = modules/btsync
	url = https://github.com/justin8/justin8-btsync.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/logrotate"]
	path = modules/logrotate
	url = https://github.com/rodjek/puppet-logrotate/
[submodule "modules/diamond"]
	path = modules/diamond
	url = https://github.com/justin8/garethr-diamond.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/ghost"]
	path = modules/ghost
	url = https://github.com/justin8/justin8-ghost.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/puppet-community/puppet-nodejs.git
[submodule "modules/systemd"]
	path = modules/systemd
	url = https://github.com/justin8/justin8-systemd
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
