[Unit]
Description=NZBGet
After=network-online.target

[Service]
User=downloads
Type=forking
ExecStart=/usr/bin/nzbget -c /etc/nzbget.conf -D

[Install]
WantedBy=multi-user.target
